<div class="filters">
    <a class="filter" href="/listings/category/Cabins">
        <div><i class="fa-solid fa-house"></i></div>
        <p class="icon-title">Cabins</p>
    </a>
    <a class="filter" href="/listings/category/Amazing views">
        <div><i class="fa-solid fa-panorama"></i></div>
        <p class="icon-title">Amazing views</p>
    </a>
    <a class="filter" href="/listings/category/Beachfront">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p class="icon-title">Beachfront</p>
    </a>
    <a class="filter" href="/listings/category/Play">
        <div><i class="fa-solid fa-baseball-bat-ball"></i></div>
        <p class="icon-title">Play</p>
    </a>
    <a class="filter" href="/listings/category/Mansions">
        <div><i class="fa-solid fa-building-columns"></i></div>
        <p class="icon-title">Mansions</p>
    </a>
    <a class="filter" href="/listings/category/Towers">
        <div><i class="fa-solid fa-tower-observation"></i></div>
        <p class="icon-title">Towers</p>
    </a>
    <a class="filter" href="/listings/category/Trending">
        <div><i class="fa-solid fa-fire"></i></div>
        <p class="icon-title">Trending</p>
    </a>
    <a class="filter" href="/listings/category/Treehouses">
        <div><i class="fa-solid fa-tree"></i></div>
        <p class="icon-title">Treehouses</p>
    </a>
    <a class="filter" href="/listings/category/Arctic">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p class="icon-title">Arctic</p>
    </a>
    <a class="filter" href="/listings/category/Arctic">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p class="icon-title">Caves</p>
    </a>
    <a class="filter" href="/listings/category/Arctic">
        <div><i class="fa-solid fa-palette"></i></div>
        <p class="icon-title">Creative spaces</p>
    </a>
    <a class="filter" href="/listings/category/Arctic">
        <div><i class="fa-solid fa-golf-ball-tee"></i></div>
        <p class="icon-title">Golfing</p>
    </a>
    <div class="tax-toggle">
        <div class="form-check form-switch form-check-reverse" id="taxSwitch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Display total before taxes</label>
        </div>
    </div>
</div>